<!-- Modal -->

<div class="modal fade modal-static" id="{% block id_modal %}tabela_produtos_cadastro_compra{% endblock id_modal %}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 75%;" role="document">
    <div class="modal-content">
      <form id="{% block id_form %}form_tabela_produtos_cadastro_compra{% endblock id_form %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Produtos Comprados</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" style="overflow-x: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> </th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Custo</th>
                <th>Valor Venda</th>
                <th>Total Custo</th>
                <th>Total Venda</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for produto in produtos %}
                <tr class="{% block class_linha_produto %}produto_cadastro{% endblock class_linha_produto %}">
                  <td><input type="checkbox" id="checkbox_produto" class="form-check-input" data-id="{{ produto.id }}" disabled></td>
                  <td>
                    {% if produto.foto %}
                      <img src="{{ MEDIA_URL }}{{ produto.foto }}" height="30px" width="30px" class="rounded-circle me-2" />
                    {% endif %}
                    <strong>{{ produto.nome }}</strong>
                  </td>
                  <td><input type="number" id="quantidade" class="form-control" oninput="calcularPelaQuantidade(this)"></td>
                  <td>
                    <div class="input-group" style="min-width: 150px;">
                      <span class="input-group-text">R$</span>
                      <input type="text" id="valor_custo" value="{% if produto.valor_custo_padrao %}{{ produto.valor_custo_padrao}}{% else %}0,00{% endif %}" class="form-control" style="text-align: right;" oninput="formatarMoeda(this); calcularPeloValorCusto(this)" />  
                    </div>
                  </td>
                  <td>
                    <div class="input-group" style="min-width: 150px;">
                      <span class="input-group-text">R$</span>
                      <input type="text" id="valor_venda" value="{% if produto.valor_venda_padrao %}{{ produto.valor_venda_padrao}}{% else %}0,00{% endif %}" class="form-control" style="text-align: right;" oninput="formatarMoeda(this); calcularPeloValorVenda(this)" />  
                    </div>
                  </td>
                  <td>
                    <div class="input-group" style="min-width: 150px;">
                      <span class="input-group-text">R$</span>
                      <input type="text" id="valor_total_custo" value="0,00" class="form-control" style="text-align: right;" oninput="formatarMoeda(this); calcularPeloValorTotalCusto(this)" />  
                    </div>
                  </td>
                  <td>
                    <div class="input-group" style="min-width: 150px;">
                      <span class="input-group-text">R$</span>
                      <input type="text" id="valor_total_venda" value="0,00" class="form-control" style="text-align: right;" oninput="formatarMoeda(this); calcularPeloValorTotalVenda(this)" />  
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{% block modal_pai_id %}modal_cadastro_compra{% endblock modal_pai_id %}" onclick="{% block funcao_botao_voltar %}atualizarValorSubtotal(){% endblock funcao_botao_voltar %}">Voltar</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>