{% load static %}

<a href="/produtos/" class="col-lg-6 col-md-12 col-6 mb-4" style="min-width: fit-content;">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <i class="atalho-icon tf-icons bx bxs-component"></i>
        </div>
        <div class="dropdown">
          <button
            class="btn p-0"
            type="button"
            id="cardOpt6"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          {% comment %} <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
            <a class="dropdown-item" href="javascript:void(0);">View More</a>
            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
          </div> {% endcomment %}
        </div>
      </div>
      <h3 class="card-title text-nowrap mb-1">Produtos</h3>
    </div>
  </div>
</a>


<a href="/estoque/" class="col-lg-6 col-md-12 col-6 mb-4" style="min-width: fit-content;">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <i class="atalho-icon tf-icons bx bxs-box"></i>
        </div>
        <div class="dropdown">
          <button
            class="btn p-0"
            type="button"
            id="cardOpt6"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          {% comment %} <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
            <a class="dropdown-item" href="javascript:void(0);">View More</a>
            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
          </div> {% endcomment %}
        </div>
      </div>
      <h3 class="card-title text-nowrap mb-1">Estoque</h3>
    </div>
  </div>
</a>


<a href="/vendas/" class="col-lg-6 col-md-12 col-6 mb-4" style="min-width: fit-content;">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <i class="atalho-icon tf-icons bx bx-money"></i>
        </div>
        <div class="dropdown">
          <button
            class="btn p-0"
            type="button"
            id="cardOpt6"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          {% comment %} <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
            <a class="dropdown-item" href="javascript:void(0);">View More</a>
            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
          </div> {% endcomment %}
        </div>
      </div>
      <h3 class="card-title text-nowrap mb-1">Vendas</h3>
    </div>
  </div>
</a>


<a href="/compras/" class="col-lg-6 col-md-12 col-6 mb-4" style="min-width: fit-content;">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <i class="atalho-icon tf-icons bx bxs-cart"></i>
        </div>
        <div class="dropdown">
          <button
            class="btn p-0"
            type="button"
            id="cardOpt6"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          {% comment %} <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
            <a class="dropdown-item" href="javascript:void(0);">View More</a>
            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
          </div> {% endcomment %}
        </div>
      </div>
      <h3 class="card-title text-nowrap mb-1">Compras</h3>
    </div>
  </div>
</a>


<a href="/financeiro/comprovantes/" class="col-lg-6 col-md-12 col-6 mb-4" style="min-width: fit-content;">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <i class="atalho-icon tf-icons bx bxs-note"></i>
        </div>
        <div class="dropdown">
          <button
            class="btn p-0"
            type="button"
            id="cardOpt6"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          {% comment %} <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
            <a class="dropdown-item" href="javascript:void(0);">View More</a>
            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
          </div> {% endcomment %}
        </div>
      </div>
      <h3 class="card-title text-nowrap mb-1">Comprovantes</h3>
    </div>
  </div>
</a>


<a href="/funcionarios/" class="col-lg-6 col-md-12 col-6 mb-4" style="min-width: fit-content;">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <i class="atalho-icon tf-icons bx bxs-user"></i>
        </div>
        <div class="dropdown">
          <button
            class="btn p-0"
            type="button"
            id="cardOpt6"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          {% comment %} <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
            <a class="dropdown-item" href="javascript:void(0);">View More</a>
            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
          </div> {% endcomment %}
        </div>
      </div>
      <h3 class="card-title text-nowrap mb-1">Funcionários</h3>
    </div>
  </div>
</a>