{% extends 'navbar/navbar.html' %}

{% load static %}

{% block content %}

<div class="card">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h5 class="card-header">Funcionários da Empresa</h5>
    <button class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#modal_criar_usuario">Cadastrar Funcionário</button>
  </div>
  <div class="text-nowrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Funcionário</th>
          <th>Email</th>
          <th>Cargo</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for usuario in usuarios %}
          <tr>
            <td>
              {% if usuario.foto %}
                <img src="{{ MEDIA_URL }}{{ usuario.foto }}" height="30px" width="30px" class="rounded-circle me-2" />
              {% endif %}
              <strong>{{ usuario.nome }}</strong>
            </td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.cargo__nome }}</td>
            <td>{{ usuario.telefone }}</td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" data-id="{{ usuario.id }}" id="editar_usuario" data-bs-toggle="modal" data-bs-target="#modal_editar_produto"
                    ><i class="bx bx-edit-alt me-1"></i>Editar</a
                  >
                  <a class="dropdown-item" href="#" data-id="{{ usuario.id }}" id="excluir_usuario"
                    ><i class="bx bx-trash me-1"></i>Excluir</a
                  >
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include "administrativo/gerenciar_funcionarios/modal-criar-usuario.html" %}

<script src="{% static "js/administrativo/gerenciar_funcionarios.js" %}"></script>

{% endblock content %}