{% extends "administrativo/gerenciar_funcionarios/modal-criar-usuario.html" %}

{% block id_modal %}modal_editar_usuario{% endblock id_modal %}
{% block id_form %}form_editar_usuario{% endblock id_form %}
{% block title_modal %}Editar Funcionário{% endblock title_modal %}
{% block inputs_senha %}

  <div class="row mb-3 g-2">
    <div class="col-6">
      <label for="senha" class="form-label">Nova Senha:</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>

    <div class="col-6">
      <label for="confirmar_senha" class="form-label">Confirmar Senha:</label>
      <input type="password" id="confirmar_senha" class="form-control" />
    </div>
  </div>

{% endblock inputs_senha %}