{% extends 'navbar/navbar.html' %}

{% load static %}

{% block content %}

<div class="card">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h5 class="card-header">Movimentações</h5>
    <button class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#modal_cadastro_movimentacao">Cadastrar Movimentação</button>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Valor Recebido</th>
          <th>Valor Pago</th>
          <th>Tipo</th>
          <th>Quantidade de Produtos</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for transacao in transacoes %}
          <tr>
            <td>{{ transacao.data|date:"d/m/Y" }}</td>
            <td>R$ {{ transacao.valor_total_recebido }}</td>
            <td>R$ {{ transacao.valor_total_pago }}</td>
            <td>
              {% if transacao.tipo == 'c' %}
                Compra
              {% elif transacao.tipo == 'v' %}
                Venda
              {% elif transacao.tipo == 't' %}
                Troca
              {% elif transacao.tipo == 'p' %}
                Serviço Prestado
              {% else %}
                Serviço Recebido
              {% endif %}
            </td>
            <td>
              <button class="btn btn-sm btn-success" type="button"><i class="bx bx-up-arrow-alt me-1"></i>{{ transacao.produtos_saida }}</button>
              <button class="btn btn-sm btn-danger" type="button"><i class="bx bx-down-arrow-alt me-1"></i>{{ transacao.produtos_entrada }}</button>
            </td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" data-id="{{ transacao.id }}" id="editar_movimentacao" data-bs-toggle="modal" data-bs-target="#modal_editar_produto"
                    ><i class="bx bx-edit-alt me-1"></i>Editar</a
                  >
                  <a class="dropdown-item" href="#" data-id="{{ transacao.id }}" id="excluir_movimentacao"
                    ><i class="bx bx-trash me-1"></i>Excluir</a
                  >
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include "movimentacoes/historico/modal-cadastro-movimentacao.html" %}
{% include "movimentacoes/historico/tabela-produtos-vendidos-cadastro.html" %}
{% include "movimentacoes/historico/tabela-produtos-comprados-cadastro.html" %}


<script src="{% static "js/movimentacoes/historico.js" %}"></script>

{% endblock content %}